{% extends "froide_exam/base.html" %}

{% load static %}


{% block main %}
<h2>Jetzt geht's Abi: {{ juris.name }}</h2>

<a href="{% url 'exam-index' %}" class="btn btn-sm btn-light">zurück</a>

<div class="responsive-table">
  <table class="table">
    <thead>
      <tr>
        <th>
          Fach
        </th>
        {% for year in years %}
          <th>
            {{ year }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <th>
            {{ subject.name }}
          </th>
          {% for subject_year in subject.years %}
            <td>
              {% if subject_year.exam_requests %}
                <ul class="list-unstyled">
                  {% for exam_request in subject_year.exam_requests %}
                    <li>
                      {% if exam_request.url %}
                        <a href="{{ exam_request.url }}">
                          zu den Unterlagen
                        </a>
                      {% else %}
                        <a href="{{ exam_request.foirequest.get_absolute_url }}">
                          Zur Anfrage
                        </a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if subject_year.can_request %}
                <a href="{{ subject_year.make_request_url }}" class="btn btn-primary btn-sm">
                  Anfragen!
                </a>
              {% else %}
                {% if not subject_year.exam_requests %}
                  nicht anfragbar
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
