{% extends "froide_exam/base.html" %}
{% load cms_tags %}
{% load static %}
{% load sekizai_tags %}
{% load markup %}
{% load form_helper %}

{% block main %}
{% static_placeholder 'froide_exam_private_copy' %}

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form method="post">
        {% csrf_token %}
        <div class="input-group">
          <input placeholder="E-Mail" class="form-control" type="email" name="email" required value="{{ request.user.email }}">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              Privatkopie erhalten!
            </button>
          </div>
        </div>
      </form>
      <p class="small mt-3">
        Wir schicken dir ausschließlich einen Link zu deiner Privatkopie. Die E-Mail-Adresse wird nicht gespeichert. Es gilt die <a href="/datenschutzerklaerung/">Datenschutzerklärung</a>.
      </p>
    </div>
  </div>
</div>

{% static_placeholder 'froide_exam_private_copy_footer' %}
{% endblock %}