{% extends CMS_TEMPLATE %}

{% load static %}
{% load cms_tags %}
{% load newsletter_tags %}

{% block body %}

<div class="container text-center">
  <img src="{% static 'img/onboarding/request-sent.svg' %}" alt="Anfrage gesendet" width="200" class="my-5">

  <h1>Deine Anfrage wurde versendet!</h1>

  <p class="my-5">
    Sobald es Neuigkeiten zu deiner Anfrage gibt, werden wir dich per E-Mail informieren.
    <br>
    <a href="{{ request_url }}" class="font-weight-bold text-decoration-none">
      <i class="fa fa-chevron-right"></i> Zu deiner Anfrage
    </a>
    <a href="/kampagnen/verschlusssache-pruefung/" class="font-weight-bold text-decoration-none ms-3">
      <i class="fa fa-chevron-right"></i> Zurück zu Verschlusssache Prüfung
    </a>
  </p>

  <p class="my-5">
    Teile deine Anfrage mit anderen:
    <br>
    <a href="https://wa.me/?text=Ich%20habe%20Pr%C3%BCfungsaufgaben%20angefragt%2C%20da%20diese%20%C3%B6ffentlich%20sein%20sollten!%20{{ share_url | urlencode }}"
      class="font-weight-bold text-decoration-none">
      <i class="fa fa-whatsapp me-1"></i> Per WhatsApp teilen
    </a>

    <a href="https://twitter.com/intent/tweet/?text=Ich%20habe%20Pr%C3%BCfungsaufgaben%20angefragt%2C%20da%20diese%20%C3%B6ffentlich%20sein%20sollten!%20%23vsp&url={{ share_url | urlencode }}"
      class="font-weight-bold text-decoration-none ms-3">
      <i class="fa fa-twitter me-1"></i> Anfrage tweeten
    </a>
  </p>

  <hr class="mt-5">

  <div class="my-5 col-md-6 mx-auto">
    {% newsletter_subscribe %}
  </div>
</div>

{% endblock %}