{% if link %}
<a href="{{ link }}"
  class="badge rounded-pill me-2 mb-2 mb-md-0 {% if subject_year.request_successful %}text-bg-success{% elif status %}text-bg-{{ status }}{% else %}text-bg-light{% endif %}"
  data-bs-toggle="tooltip" data-placement="top"
  title="{% if title %}{{ title }}{% else %}{% if subject_year.request_pending %}Schon angefragt{% elif subject_year.request_failed %}Fehlgeschlagen{% else %}Abgeschlossen{% endif %}{% endif %}">
  {% if icon %}
    <i class="fa fa-{{ icon }}"></i>
  {% else %}
    {% if subject_year.request_pending %}
      <i class="fa fa-circle text-warning"></i>
    {% elif subject_year.request_failed %}
      <i class="fa fa-times text-danger"></i>
    {% else %}
      <i class="fa fa-check"></i>
    {% endif %}
  {% endif %}
  {{ subject_year.year }}
</a>
{% else %}
<span class="badge rounded-pill text-bg-{{ status }} me-2 mb-2 mb-md-0" data-bs-toggle="tooltip" data-placement="top" title="{{ title }}">
  {% if icon %}
    <i class="fa fa-{{ icon }}"></i>
  {% endif %}
  {{ subject_year.year }}
</span>
{% endif %}

