{% extends "froide_exam/base.html" %}

{% load cms_tags %}
{% load markup %}

{% block title %}Prüfungsaufgaben {{ state.name }} – {% page_attribute "page_title" %} von {{ SITE_NAME }} {% endblock title %}

{% block exam_breadcrumbs %}
<li class="breadcrumb-item active">
  {{ state.name }}
</li>
{% endblock %}

{% block froide_exam %}
<h2>{{ state.name }}</h2>

<div class="pt-3">
  {{ state.description | markdown }}
</div>

{% if state.needs_request %}
<table class="table mt-4 exam-state-table">
  <thead>
    <tr>
      <th>
        <span class="d-none d-md-inline">Fach</span>
        <span class="d-md-none">Filter:</span>
      </th>
      <th>Jahrgänge</th>
      <th>
        <form method="GET" id="typeform">
          <select name="type" class="form-select form-select-sm" title="Nach Abschluss filtern...">
            <option value="all">Alle Abschlüsse...</option>
            {% for type in types %}
            <option value="{{ type.slug }}" {% if type.slug == requested_type %}selected{% endif %}>
              {{ type.name }}
            </option>
            {% endfor %}
          </select>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for subject in subjects %}
    <tr>
      <td>
        {{ subject.name }} <span class="curriculum-name">({{ subject.curriculum.name }})</span>
      </td>
      <td class="">
        <div class="d-flex flex-wrap">
          {% include "./state_years.html" %}
        </div>
      </td>
      <td>{{ subject.curriculum.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="d-md-flex small mt-3">
  <div>
    <i class="fa fa-circle text-primary"></i> Jetzt anfragen!
  </div>
  <div class="ms-md-3">
    <i class="fa fa-circle text-success"></i> Anfrage erfolgreich/schon öffentlich
  </div>
  <div class="ms-md-3">
    <i class="fa fa-circle text-warning"></i> Anfrage läuft
  </div>
  <div class="ms-md-3">
    <i class="fa fa-times text-danger"></i> Anfrage abgelehnt
  </div>
</div>

{% static_placeholder 'froide_exam_state' %}
{% endif %}
{% endblock %}