{% extends "froide_exam/base.html" %}
{% load cms_tags %}
{% load static %}
{% load sekizai_tags %}
{% load markup %}

{% block main %}
<h2>{{ state.name }}</h2>

<div class="pt-3">
  {{ state.description | markdown }}
</div>

{% if state.needs_request %}

<table class="table mt-4 exam-state-table">
  <thead>
    <tr>
      <th>Fach</th>
      <th>Jahrgänge</th>      
      <th>
        <form method="GET" id="typeform">
          <select name="type" class="font-weight-bold" title="Nach Abschluss filtern...">
            <option value="all">Alle Abschlüsse...</option>
            {% for type in types %}
            <option value="{{ type.slug }}" {% if type.slug == requested_type %}selected{% endif %}>
              {{ type.name }}
            </option>
            {% endfor %}
          </select>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for subject in subjects %}
    <tr>
      <td>
        {{ subject.name }} <span class="curriculum-name">({{ subject.curriculum.name }})</span>
      </td>
      <td class="">
        <div class="d-flex">
          {% include "./state_years.html" %}
        </div>
      </td>
      <td>{{ subject.curriculum.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="d-md-flex small mt-3">
  <div>
    <i class="fa fa-circle text-primary"></i> Jetzt anfragen!
  </div>
  <div class="ml-md-3">
    <i class="fa fa-circle text-success"></i> Anfrage erfolgreich/schon öffentlich
  </div>
  <div class="ml-md-3">
    <i class="fa fa-circle text-warning"></i> Anfrage läuft
  </div>
  <div class="ml-md-3">
    <i class="fa fa-circle text-danger"></i> Anfrage abgelehnt
  </div>
</div>

<p class="small mt-3">
  Es fehlt ein Fach? Bitte gib uns per <a href="mailto:max.kronmueller@okfn.de?subject=Fehlendes%20Fach">E-Mail</a>
  Bescheid. Es können nur Fächer mit zentralen Prüfungsaufgaben angefragt werden.
</p>

{% endif %}

{% addtoblock 'js' %}
<script src="{% static 'js/exam_curriculum.js' %}" charset="utf-8"></script>
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" href="{% static 'css/exam_curriculum.css' %}">
{% endaddtoblock %}

{% endblock %}