{% comment %}
  TODO: remove if-elif-else spaghetti, it's pretty hard to
  grasp the connections and know what will be displayed when.
{% endcomment %}

{% for subject_year in subject.years %}
  {% comment %}
  <ul class="mb-4">
    <li>{{ subject_year.can_request }}</li>
    <li>{{ subject_year.year }}</li>
    <li>{{ subject_year.exam_request }}</li>
    <li>{{ subject_year.exam_request.foirequest.id }}</li>
    <li>{{ subject_year.get_same_request.id }}</li>
    <li>{{ subject_year.same_requests }}</li>
    <li>{{ subject_year.request_pending }}</li>
    <li>{{ state.is_oneclick }}</li>
    <li>{{ subject_year.exam_request.foirequest }}</li>
  </ul>
  {% endcomment %}

  {% if subject_year.exam_request %}
    {% if subject_year.request_awaiting_user %}
      {% include "./state_year_tag.html" with title="Wird angefragt..." status="warning" icon="clock" %}
    {% elif subject_year.exam_request.url %}
      {% include "./state_year_tag.html" with link=subject_year.exam_request.url title="Schon öffentlich" icon="download" status="success" %}
    {% elif not state.is_oneclick %}
      {% include "./state_year_tag.html" with link=subject_year.exam_request.foirequest.get_absolute_url_last_message %}
    {% else %}
      {% if not subject_year.can_request %}
        {% include "./state_year_tag.html" with link=subject_year.get_same_request.get_absolute_url %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if subject_year.can_request %}
    {% if subject_year.is_one_click and subject_year.exam_request.foirequest %}
      {% with subject_year.exam_request.foirequest.get_absolute_url|add:"#make-same-request" as url %}
        {% include "./state_year_tag.html" with icon="circle" link=url title="Jetzt auch anfragen!" %}
      {% endwith %}
    {% elif not subject_year.exam_request %}
      {% include "./state_year_tag.html" with icon="circle" link=subject_year.make_request_url title="Jetzt anfragen!" %}
    {% endif %}
  {% endif %}
{% endfor %}