include README.md LICENSE package.json
recursive-include froide_exam/templates *
recursive-include froide_exam/static *
recursive-include froide_exam/locale *.po
recursive-include froide_exam/locale *.mo
recursive-include frontend *
