$normal: #007bff;
$pending: #ffc107;
$successful: #28a745;
$refused: #dc3545;

.curriculum-badge {
  font-size: 0.8rem;
  font-weight: normal;
}

.curriculum-badge {
  content: "";
  display: inline-flex;
  width: 0.5rem;
  height: 0.5rem;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-right: 0.2rem;
}

.curriculum-badge-normal:before {
  @extend .curriculum-badge;
  background-color: $normal;
}

.curriculum-badge-pending:before {
  @extend .curriculum-badge;
  background-color: $pending;
}

.badge.curriculum-badge-successful,
.badge.curriculum-badge-successful:hover,
.badge.curriculum-badge-successful:focus {
  color: #fff;
  background-color: $successful;
}

.badge.curriculum-badge-successful-request {
  @extend .badge.curriculum-badge-successful;

  &:before {
    @extend .curriculum-badge;
    background-color: #fff;
  }
}

.curriculum-badge-refused:before {
  @extend .curriculum-badge;
  background-color: $refused;
}

.curriculum-icon-download {
  color: $normal;
}

.exam-overview-badge.badge {
  display: inline-flex;
  align-items: center;
  font-weight: normal;

  .fa.fa-chevron-right {
    font-size: 0.5rem;
    margin: auto;
    margin-right: 0.25rem;
  }
}

.exam-overview-requestable.card {
  border-left: 2px $normal solid;
}

.exam-overview-deadend.card {
  border-left: 2px #5C748D solid;
}

.exam-overview-public.card {
  border-left: 2px $successful solid;
}